{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>New Entry</h1>
<form method="POST">
	<div class="row">
		<label for="title" class="cell">Title </label>
		<input type="text" name="title"></input>
	</div>

	<div class="row">
		<label for="content" class="cell">Title </label>
		<textarea name="content"></textarea>
	</div>

	<div class="row">
		<label class="cell"></label>
		<input type="submit" value="Spew"></input>
	</div>
</form>
{% endblock %}
